<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Cloud App</title>

	{% load staticfiles %}
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
	<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
	<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
	<link rel="stylesheet" href="{% static 'wordclouds/styles/cloud_style.css' %}">

</head>
<body>
	<div data-role="header">
		<div id="instructions">
			<h1>Word Cloud Task</h1>
			<p> Your goal is to find as many synonyms and related words as possible for each of the words in the sentence.
			<br>
			You can add words by typing them in, or drag in suggested synonyms from the Word Bank. Click on each word of the sentence to begin adding synonyms. Add synonyms for all words in the sentence.
			<br>
			Click submit when you have finished.
			<br>
			</p>
		</div>
	</div>
	<div data-role="main" class="ui-content" id="cloud-area">

		<h2>Complete the task.... or else ... </h2>
		<div id="left-menu" data-role="collapsible" data-collapsed="false" class="quarter">
			<h4>Word Bank</h4>
		</div>
		<div id="sentence_container">
			<ul id="sentence" class="ui-listview" data-role="listview">
			</ul>
		</div>
	</div>
	<div data-role="footer" id="foot" style="padding:10px">
		<h1> Thanks for completing the task. When you are finished, click submit </h1>
		<input type="button" value="submit" id="submit" class="ui-btn" onclick="submitCloud()">
	</div>

<!--TEMPLATES -->
<div id="word_item_template" style="display:none">
	<li class="word_item ui-li-has-alt" full="new.n.1">
		<a href="#" class="ui-btn word_text">new</a>
		<a class="ui-btn ui-icon-delete ui-btn-icon-left ui-btn-icon-notext ui-icon-carat-r" title=""></a>
	</li>
</div>
<div id="add_button_template" style="display:none">
	<li class="add_button ui-li-has-alt">
		<a href="#" class="ui-btn">
			<input type="text" class="add-word-input" placeholder="new word">
		</a>
		<a class="ui-btn ui-icon-plus ui-btn-icon-left new-word"></a>
	</li>
</div>
<div id="word_sense_template" style="display:none">
	<div class="sense_div" data-role="collapsible2" data-collapsed="false" >
	    <h4>Sense (Type)</h4>
	    <ul data-role="listview" class="sort word1">
	    </ul>
    </div>
</div>
<div id="word_sentence_template" style="display:none">
	<li class="word_column ui-li-has-alt">
		<div id="word_sentence_" class="quarter word_column_div" data-collapsed="true" >
		    <h4 class="word_name">Word</h4>
		    <div class="collapsible3">
			    <h4 class="concrete_label">Concrete</h4>
			    <ul data-role="listview" class="sort word1 concrete">
			    </ul>
		    </div>
		    <div class="collapsible3">
		    	<h4 class="abstract_label">Abstract</h4>
			    <ul data-role="listview" class="sort word1 abstract">
			    </ul>
		    </div>
	    </div>

    </li>
</div>

<script src="{% static 'wordclouds/scripts/cloud.js' %}"></script>

</body>
</html>
