<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Cloud App</title>

	{% load staticfiles %}
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
	<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
	<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
	<link rel="stylesheet" href="{% static 'wordclouds/styles/cloud_style.css' %}">

	<script>
		var problem_id = {{ problem_id }};
	 	var url_submit = "{% url 'wordclouds:submit' %}";
	 	var url_completed = "{% url 'wordclouds:completed_cloud' %}";
	</script>

</head>
<body>
	<div data-role="header">
		<div id="top-bar">
			<div style="width:100%" class="clear">
				<h1 id="title">Word Cloud Game</h1> 
				<div id="score_box">Score: <div id="score" style="float:right">0</div></div>
			</div>
			
			<div data-inset="false" data-collapsed="false" id="instructions" title="Instructions" style="width:80%; margin-left: 5%">
				<h4>Instructions (Click to Collapse)</h4>
				<br> It's time to play! Your goal is to <b>find as many synonyms as possible</b> for each of the word in the sentence. Your score is the total number of words you've added to the cloud. Aim for a score of at least 40 (at leat 8 per word).  
				<div style="padding-left: 4%">
					<br> (1) Click on a word to load suggested synonyms in the word bank.
					<br> (2) Add words by typing them in
					<br> (3) Drag in suggested synonyms from the Word Bank
					<br> (4) Repeat for all words that are not "grayed out"
				</div>
				<br>
				Tips:
				<div style="padding-left: 4%">
					<br> - Add synonyms for all words in the sentence, except any words that are 'greyed out' (it won't let you add any).
					<br> - Only add synonyms that fit the meaning of the word in the sentence. If the sentence says "I had a blast at the party", then "explosion" is not a good synonym for "blast". "Fun" is a better synonym.
					<br> - Remember to think about whether a word goes in the generic or specific bin
					<br> - You don't have to use all the words in the word bank
					<br> - If you need additional context to understand the sentence, the abstract from which this problem was taken is at the bottom of the page. 
				</div>
				<br>Click 'submit' when you have finished.
				<br>
			</div>
		</div>
	</div>
	<div data-role="main" class="ui-content" id="cloud-area">

		<div style="display:block"><a>Sentence: <a><h2 id="sentence_text" style="display:inline"></h2><a id="to_abstract">More info</a></a>
		<div id="left-menu" data-role="collapsible" data-collapsed="false" class="quarter">
			<h4>Word Bank</h4>
		</div>
		<div id="sentence_container" class="clear">
			<ul id="sentence" class="ui-listview" data-role="listview">
			</ul>
		</div>
		<div data-role="collapsible" id="abstract" title="Full abstract from original problem">	
				<h4>Full abstract from original problem (Click to Expand)</h4>
				<div id="abstract_text">
					{{ abstract }}
				</div>
		</div>
	</div>

	<div data-role="footer" id="foot">
		<h1> Thanks for completing the task. When you are finished, click submit </h1>
		<input type="button" value="submit" id="submit" class="ui-btn" onclick="submitCloud()">
	</div>

<!--TEMPLATES -->
<div id="word_item_template" style="display:none">
	<li class="word_item ui-li-has-alt" sense="new.n.1">
		<a href="#" class="ui-btn word_text">new</a>
		<a class="ui-btn ui-icon-delete ui-btn-icon-left ui-btn-icon-notext ui-icon-carat-r" title=""></a>
	</li>
</div>
<div id="add_button_template" style="display:none">
	<li class="add_button ui-li-has-alt">
		<a href="#" class="ui-btn">
			<input type="text" class="add-word-input" placeholder="Type Word Here">
		</a>
		<a class="ui-btn ui-icon-plus ui-btn-icon-left new-word"></a>
	</li>
</div>
<div id="word_sense_template" style="display:none">
	<div class="sense_div" data-role="collapsible2" data-collapsed="false" >
	    <h4>Sense (Type)</h4>
	    <ul data-role="listview" class="sort word1">
	    </ul>
    </div>
</div>
<div id="word_sentence_template" style="display:none">
	<li class="word_column ui-li-has-alt">
		<div id="word_sentence_" class="quarter word_column_div" data-collapsed="true" >
		    <h4 class="word_name">Word</h4>
		    <div class="collapsible3">
			    <h4 class="concrete_label">Specific</h4>
			    <ul data-role="listview" class="sort word1 concrete" abstraction="concrete">
			    </ul>
		    </div>
		    <div class="collapsible3">
		    	<h4 class="abstract_label">General</h4>
			    <ul data-role="listview" class="sort word1 abstract" abstraction="abstract">
			    </ul>
		    </div>
	    </div>

    </li>
</div>

<script src="{% static 'wordclouds/scripts/cloud.js' %}"></script>

</body>
</html>
