<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Cloud App Training</title>

	{% load staticfiles %}
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
	<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
	<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
	<link rel="stylesheet" href="{% static 'wordclouds/styles/cloud_style.css' %}">

	<script> var cloud_url = "{% url 'wordclouds:cloud' %}"; </script>
</head>
<body>
	<div data-role="header">
				<div id="top-bar">
			<div style="width:100%" class="clear">
				<h1 id="title">Word Cloud Game <span style="color:#333">Training</span></h1> 
			</div>
			<div data-inset="false" data-collapsed="false" id="instructions" style="width:80%; margin-left: 5%">
				<h4>Instructions (Click to Collapse)</h4>
				<br> The goal of this task is to find synonyms and related words for each word in a sentence. We are going to practice with "cook".
					<div style="padding-left: 4%">
						<br> (1) Add a couple synonyms for "cook" by typing them in
						<br> (2) Drag words from the Word Bank into the appropriate bins under "cook"
						<br> (4) Click Next when you are done
					</div>
				<p> Notice that each word has two bins, 'specific' and 'general'. Put domain-specific words into the specific bin, and more generic or abstract words into the 'general' bin. For example, 'Golden Retriever' is a specific synonym of dog, while 'animal' is a general synonym of dog.
				<p> We've already done 'dog' and 'run' as examples. Complete the 'cook' column, then click "Next" at the bottom of the page.
			</div>
			</div>
		</div>
	</div>
<!-- 	<div id="instructions">
			<br> The goal of this task is to find synonyms and related words for each word in a sentence. We are going to practice with "cook".
				<div style="padding-left: 30px">
					<br> (1) Add a couple synonyms for "cook" by typing them in
					<br> (2) Drag words from the Word Bank into the appropriate bins under "cook"
					<br> (4) Click Next when you are done
				</div>
			<p> Notice that each word has two bins, 'specific' and 'general'. Put domain-specific words into the specific bin, and more generic or abstract words into the 'general' bin. For example, 'Golden Retriever' is a specific synonym of dog, while 'animal' is a general synonym of dog.
			<p> We've already done 'dog' and 'run' as examples. Complete the 'cook' column, then click "Next" at the bottom of the page.
		</div>
	</div> -->
	<div data-role="main" class="ui-content" id="cloud-area">

		<h2>Try completing this mini-cloud by dragging synonyms from the Word Bank into the "Cook" bin.</h2>
		<div id="left-menu" data-role="collapsible" data-collapsed="false" class="quarter">
			<h4>Word Bank: "Cook"</h4>
		</div>
		<div id="sentence_container" class="clear">
			<ul id="sentence" class="ui-listview" data-role="listview">
			</ul>
		</div>
	</div>
	<div data-role="footer" id="foot" style="padding:2%">
		<h1> If you are ready to continue, click 'next' </h1>
		<input type="button" value="next" id="next" class="ui-btn" onclick="next()">
	</div>

<!--TEMPLATES -->
<div id="word_item_template" style="display:none">
	<li class="word_item ui-li-has-alt" sense="new.n.1">
		<a href="#" class="ui-btn word_text">new</a>
		<a class="ui-btn ui-icon-plus ui-btn-icon-left ui-btn-icon-notext ui-icon-carat-r" title=""></a>
	</li>
</div>
<div id="word_item_template_ex" style="display:none">
	<li class="word_item ui-li-has-alt" sense="new.n.1">
		<a href="#" class="ui-btn word_text">new</a>
		<a class="ui-btn ui-icon-minus ui-btn-icon-left ui-btn-icon-notext ui-icon-carat-r" title=""></a>
	</li>
</div>

<div id="add_button_template" style="display:none">
	<li class="add_button ui-li-has-alt">
		<a href="#" class="ui-btn">
			<input type="text" class="add-word-input" placeholder="new word">
		</a>
		<a class="ui-btn ui-icon-plus ui-btn-icon-left new-word"></a>
	</li>
</div>
<div id="word_sense_template" style="display:none">
	<div class="sense_div" data-role="collapsible2" data-collapsed="false" >
	    <h4>"Cook" Word Bank</h4>
	    <ul data-role="listview" class="sort word1">
	    </ul>
    </div>
</div>
<div id="word_sentence_template" style="display:none">
	<li class="word_column ui-li-has-alt">
		<div id="word_sentence_" class="quarter word_column_div" data-collapsed="false" >
		    <h4 class="word_name">Word</h4>
		    <div class="collapsible3">
			    <h4 class="concrete_label">Specific</h4>
			    <ul data-role="listview" class="sort word1 concrete" abstraction="concrete">
			    </ul>
		    </div>
		    <div class="collapsible3">
		    	<h4 class="abstract_label">General</h4>
			    <ul data-role="listview" class="sort word1 abstract" abstraction="abstract">
			    </ul>
		    </div>
	    </div>

    </li>
</div>

<script src="{% static 'wordclouds/scripts/cloud_training.js' %}"></script>

</body>
</html>
