<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Cloud App Training</title>

	{% load staticfiles %}
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
	<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
	<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
	<link rel="stylesheet" href="{% static 'wordclouds/styles/cloud_style.css' %}">

</head>
<body>
	<div data-role="header">
		<div id="instructions">
			<p> The goal of this task is to find synonyms and related words for each word in a sentence. 
			<p> Add synonyms for a word by typing them into the "add word" box and pressing 'enter'.
			<p> Then, drag more related words from the Word Bank on the left. Only include words that have the same meaning in the context of the sentence.
			<p> Notice that each word has two bins, 'concrete' and 'abstract'. Put direct synonyms and 'specific' words into the concrete bin, and more generic words into the 'abstract' bin. For example, 'fry' is a specific synonym of cook, while 'make' is an abstract (more generic) synonym of cook.
			<p> We've already done 'dog' and 'run' as examples. Complete the 'cook' column by dragging in words from the Word Bank and adding some of your own.
		</div>
	</div>
	<div data-role="main" class="ui-content" id="cloud-area">

		<h2>Try completing this mini-cloud</h2>
		<div id="left-menu" data-role="collapsible" data-collapsed="false" class="quarter">
			<h4>Word Bank: "Cook"</h4>
		</div>
		<div id="sentence_container">
			<ul id="sentence" class="ui-listview" data-role="listview">
			</ul>
		</div>
	</div>
	<div data-role="footer" id="foot" style="padding:10px">
		<h1> If you are ready to continue, click 'next' </h1>
		<input type="button" value="next" id="next" class="ui-btn" onclick="next()">
	</div>

<!--TEMPLATES -->
<div id="word_item_template" style="display:none">
	<li class="word_item ui-li-has-alt" sense="new.n.1">
		<a href="#" class="ui-btn word_text">new</a>
		<a class="ui-btn ui-icon-delete ui-btn-icon-left ui-btn-icon-notext ui-icon-carat-r" title=""></a>
	</li>
</div>
<div id="word_item_template_ex" style="display:none">
	<li class="word_item ui-li-has-alt" sense="new.n.1">
		<a href="#" class="ui-btn word_text">new</a>
		<a class="ui-btn ui-icon-minus ui-btn-icon-left ui-btn-icon-notext ui-icon-carat-r" title=""></a>
	</li>
</div>

<div id="add_button_template" style="display:none">
	<li class="add_button ui-li-has-alt">
		<a href="#" class="ui-btn">
			<input type="text" class="add-word-input" placeholder="new word">
		</a>
		<a class="ui-btn ui-icon-plus ui-btn-icon-left new-word"></a>
	</li>
</div>
<div id="word_sense_template" style="display:none">
	<div class="sense_div" data-role="collapsible2" data-collapsed="false" >
	    <h4>"Cook" Word Bank</h4>
	    <ul data-role="listview" class="sort word1">
	    </ul>
    </div>
</div>
<div id="word_sentence_template" style="display:none">
	<li class="word_column ui-li-has-alt">
		<div id="word_sentence_" class="quarter word_column_div" data-collapsed="false" >
		    <h4 class="word_name">Word</h4>
		    <div class="collapsible3">
			    <h4 class="concrete_label">Concrete</h4>
			    <ul data-role="listview" class="sort word1 concrete" abstraction="concrete">
			    </ul>
		    </div>
		    <div class="collapsible3">
		    	<h4 class="abstract_label">Abstract</h4>
			    <ul data-role="listview" class="sort word1 abstract" abstraction="abstract">
			    </ul>
		    </div>
	    </div>

    </li>
</div>

<script src="{% static 'wordclouds/scripts/cloud_training.js' %}"></script>

</body>
</html>
