<!doctype html>
<html lang="en" style="height:100%">
<head>
	<meta charset="utf-8">
	<title>Cloud App Completed</title>

	{% load staticfiles %}
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
	<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
	<link rel="stylesheet" href="{% static 'wordclouds/styles/cloud_style.css' %}">

</head>
<body style="background-color:rgb(0, 136, 187); height:100%; width:100%">
	<div id="input_centered" class="center">
		<div id="completed" width="100%">
			Thank you for completing the word cloud task. Copy and paste this code into the Mechanical Turk HIT to get paid:
			<br>
			<span style="font-weight:bold; font-size:25px;" id="hash_code">{{completion_code}}</span>
		</div>
	</div>

	<script src="{% static 'wordclouds/scripts/completed_cloud.js' %}"></script>

</body>
</html>
