ul{
	min-height: 3em;
}

h1{
	margin: .2em;
}
h2{
	font-weight:200;
}

.quarter{
	width: 15%;
	float: left;
	margin: 1%;
}

.three-quarters{
	width: 70%;
	float: left;
	margin: 1%;
}

a.ui-btn{
	border-width: 0;
}

#foot{
	padding: 1em;
}

#top-bar{
	padding: .2em;
    background-color: #08b;
    text-shadow: 0 0 0;
    font-weight: 200;
    color: #EEE;
}
#instructions{
	padding: 1em;
    background-color: inherit;
    text-shadow: inherit;
    font-weight: inherit;
    color: inherit;
}
#instructions > div {
	background-color:inherit;
	color: inherit;
	border: none;
	text-shadow: none;
}
#title {
    color: #eeeeee;
    float: left;
    font-weight: 200;
    font-size: 45px;
    padding-left: 20px;
}

.word-column{
}

.new-word.ui-btn{
	background-color: rgba(20,200,20,.4);
}

.sentence_container{
}

#cloud-area{
	background-color: #444;
    color: #EEE;
    text-shadow: 0px 0px 0px;
    font-weight: 200;
}
/*#word_bin{
	background-color: #eeeeee;
	color:#333;
	width:65%;
	margin: 2em;
	position: fixed;
	right: 0em;
	bottom:0em;
}*/

#left-menu{
	background-color: #f6f6f6;
	/*border: solid rgb(46, 119, 146) .5em;*/
	width: 15em;
	color: #333;
}
#left-menu > div {
	max-height: 35em;
	overflow: auto;
}

#submit, #next{
	background-color: rgba(20,200,20,.4);
	padding: .5em;
	margin:auto;
	display:block;
}

.center {
	margin:auto;
	display:block;
}

.word_column_div{
	background-color: #f6f6f6;
}
/*.word_column_div:hover{
	background-color: #ededed;
}*/

.word_column_div.ui-collapsible-inset{
	width: 18em;
	background: rgb(46, 119, 146);
	color: #333;
	
/*	position: fixed;
    bottom: 1em;
    right: 1em;
    width: 70%;
    background-color:#ffffff;*/
}

/*.word_column_div.ui-collapsible-inset > h4 > a{
    background-color: none !important ;
    border-color: none;
    color: #eee;
    text-shadow: none;
}
*/
a.ui-collapsible-heading-toggle.ui-btn.ui-btn-icon-left.ui-btn-inherit.ui-icon-minus {
    background-color: inherit;
    text-shadow: none;
    color: inherit;
    border:none;
}
a.ui-collapsible-heading-toggle.ui-btn.ui-btn-icon-left.ui-btn-inherit.ui-icon-minus:hover {
    background-color: inherit;
    text-shadow: none;
    color: inherit;
}
a.ui-collapsible-heading-toggle.ui-btn.ui-icon-plus.ui-btn-icon-left.ui-btn-inherit {
    background-color: inherit;
}

.word_column_div.ui-collapsible-collapsed{
	width: 10em;
	background: #eee;
}

.collapsible3{
	background-color: #f6f6f6;
}

.collapsible3 > div > ul {
	max-height: 20em;
	overflow: auto;
}

.ui-btn-minus{
	color: #247;
}

#score_box{
	background-color: #333;
	color: #eee;
	border-radius: .2em;
	float: right;
	padding: 1em;
	width: 10%;

    position: fixed;
    top: 1em;
    right: 1em;
}

.word_column_div.no_synonyms {
	color: #444;
	background-color: #ccc;
	border:none;
	text-shadow:none;
}
a.ui-collapsible-heading-toggle.ui-btn.ui-icon-plus.ui-btn-icon-left.ui-btn-inherit {
    border: none;
    color: inherit;
    text-shadow: none;
}

*:focus{
	outline:none;
	box-shadow:none !important;
}

.clear:after{
    clear: both;
    content: "";
    display: table;

}

.active_word{
/*	position: fixed;
    bottom: 1em;
    right: 1em;
    width: 70%;
    background-color:#ffffff;*/
}

/*.collapsible3.ui-collapsible.ui-collapsible-inset.ui-corner-all.ui-collapsible-themed-content {
    float: left;
    margin: 1em;
    width: 40%;
}*/